@using CarpetStoreAndManagement.ViewModels.OrderViewModels
@model IEnumerable<OrdersViewModel>

@{
    ViewData["Title"] = "Orders";
}
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Orders</h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Client name</th>
                        <th>Product name</th>
                        <th>Type</th>
                        <th>Colors</th>
                        <th>Quantity</th>
                        <th>Total price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td align="center">@order.ClientName</td>
                            <td>
                                @foreach (var name in order.ProductName)
                                {
                                    <td2>@name</td2>
                                    <hr>
                                }
                            </td>
                            <td>
                                @foreach (var type in order.ProductType)
                                {
                                    <td2>@type</td2>
                                    <hr>
                                }
                            </td>
                            <td>
                                @foreach (var colors in order.ProductColors)
                                {
                                    <td2>@colors</td2>
                                    <hr>
                                }
                            </td>
                            <td>
                                @foreach (var qty in order.ProductQuantity)
                                {
                                    <td2>@qty</td2>
                                    <hr>
                                }
                            </td>
                            <td align="center">@order.TotalPrice</td>
                            <td>
                                <form asp-action="CompleteOrder" asp-route-orderId="@order.OrderId">
                                    <button class="btn-success float-end" type="submit">Complete order</button>
                                </form>
                                <button class="btn-info" type="submit">Produce</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

