@using CarpetStoreAndManagement.ViewModels.ProductViewModels
@model IEnumerable<ProductsInCartViewModel>

@{
    ViewData["Title"] = "My Shopping Cart";
}

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th> </th>
                        <th>Quantity</th>
                        <th> </th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@product.ImgUrl" style="width: 72px; height: 72px;"> </a>
                                </div>
                            </td>
                            <td>
                                <div class="media-body">
                                    <h4 class="media-heading"><strong>@product.Name</strong></h4>
                                </div>
                            </td>
                            <td>
                                <form asp-controller="Product" asp-action="IncreaseProductQuantityInCart" asp-route-productId="@product.Id" method="post">

                                    <div class="mb-3">
                                        <input class="btn btn-success" type="submit" value="+" />
                                    </div>
                                </form>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.Quantity</strong></td>
                            <td>
                                <form asp-controller="Product" asp-action="DecreaseProductQuantityInCart" asp-route-productId="@product.Id" method="post">

                                    <div class="mb-3">
                                        <input class="btn btn-danger" type="submit" value="-" />
                                    </div>
                                </form>

                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.Price</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.TotalPrice</strong></td>
                            <td class="col-sm-1 col-md-1">
                                <form asp-controller="Product" asp-action="RemoveFromCart" asp-route-productId="@product.Id" method="post">

                                    <button type="submit" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </form>
                            </td>
                        </tr>

                    }
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total:</h3></td>
                        <td class="text-right"><h3><strong>@Model.Sum(x => x.TotalPrice)</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <form asp-controller="Order" asp-action="MakeOrder" method="post">
                                <button type="submit" class="btn btn-success">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>