@using CarpetStoreAndManagement.ViewModels.OrderViewModels
@model IEnumerable<OrdersViewModel>

@{
    ViewData["Title"] = "Orders";
}

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}


<body>
    <div class="container" style="min-height:500px">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <h2 class="text-center">Orders</h2>
                </div>
            </div>
            <table style="border:1px solid black;" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Client name</th>
                        <th>Product name</th>
                        <th>Type</th>
                        <th>Colors</th>
                        <th>Quantity</th>
                        <th>Total price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td align="center">@order.ClientName</td>
                            @if (order.ProductName.Count() == 1)
                            {
                                <td>

                                    <td2>@order.ProductName[0]</td2>
                                </td>
                                <td>

                                    <td2>@order.ProductType[0]</td2>
                                </td>
                                <td>

                                    <td2>@order.ProductColors[0]</td2>
                                </td>
                                <td>
                                    <td2>@order.ProductQuantity[0]</td2>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @foreach (var name in order.ProductName)
                                    {
                                        <td2>@name</td2>
                                        <hr>
                                    }
                                </td>
                                <td>
                                    @foreach (var type in order.ProductType)
                                    {
                                        <td2>@type</td2>
                                        <hr>
                                    }
                                </td>
                                <td>
                                    @foreach (var colors in order.ProductColors)
                                    {
                                        <td2>@colors</td2>
                                        <hr>
                                    }
                                </td>
                                <td>
                                    @foreach (var qty in order.ProductQuantity)
                                    {
                                        <td2>@qty</td2>
                                        <hr>
                                    }
                                </td>
                            }
                            <td align="center">@order.TotalPrice</td>
                            <td>
                                <form asp-action="CompleteOrder" asp-route-orderId="@order.OrderId">
                                    <button class="btn-success float-end" type="submit">Complete order</button>
                                </form>
                                <form asp-action="ProduceFromOrder" asp-route-orderId="@order.OrderId">
                                    <button class="btn-info" type="submit">Produce</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

